/* 
Last Updated: 2020-02-17
Author: Yw Teh
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

@font-face {
    font-family: avenir;
    src: url(font/avenir_next.ttc);
}

@font-face {
    font-family: bebas;
    src: url(font/bebas.TTF);
}

/*end of reset styling*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*code for mobile*/

* {
    text-decoration: none;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
}

body {
    margin: 0;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
}

.header_text h2 {
    font-family: bebas;
    color: #ff0064;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 2px;
    word-spacing: 10px;
}

.common_text h1 {
    color: #000000;
    text-transform: none;
    font-weight: 1;
}

.thumbnail_layout h2 {
    font-family: 'Nunito', sans-serif;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 10px;
}

.thumbnail_layout h1 {
    color: #000000;
    text-transform: none;
    text-align: center;
    font-weight: 1;
}

.logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
}

nav {
    position: fixed;
    width: 100vw;
}

/* background color shown when scroll */
nav.background {
    background: rgba(43, 43, 63, .9);
    /* background: #2b2b3F; */
}

.section_whoweare {
    background-image: url(img/header.png);
    margin-top: -2px;
}

.section_whyus {
    background-image: url(img/why_us.png);
    margin-top: -2px;
}

.section_projects {
    background-image: url(img/Section_whatwedo.png);
    margin-top: -2px;
}

.section_contacts {

    margin-top: -2px;
}

/*end of mobile*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*code for pc*/

@media only screen and (min-width:864px) {
    nav {
        margin-top: 0;
    }

    .nav_bar {
        height: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .logo {
        height: 5vw;
        padding-left: 5vw;
    }

    .logo img {
        height: 2.6rem;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translate(-50%, -50%);
    }

    .menu {
        height: 5vw;
    }

    nav ul {
        float: right;
        height: 4rem;
        width: auto;
        margin: 0;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-35%, -50%);
    }

    nav ul li {
        display: inline-block;
        padding-right: 25px;
        height: auto;
        width: auto;
        object-position: center;
        top: 50%;
        right: 50%;
        transform: translate(0%, 100%);
    }

    nav ul li a {
        color: whitesmoke;
        font-size: 1.5vw;
    }

    .box1_position {
        display: inline-block;
        margin-top: 27vw;
        margin-left: 5vw;
    }

    .box2_position {
        display: inline-block;
        margin-top: 10vw;
        margin-left: 52vw;
    }

    .box3_position {
        display: inline-block;
        margin-top: 5vw;
        margin-left: 5vw;
    }

    .projects_images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(12, 8.5vw);
        column-gap: 0.8%;
        row-gap: 0.8%;
        height: auto;
        width: 92vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4vw;
    }

    .project1 {
        background-color: whitesmoke;
        color: black;
        padding: 1rem;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 6;
    }

    .project2 {
        background-color: whitesmoke;
        color: black;
        padding: 1rem;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 7;
    }

    .project3 {
        background-color: whitesmoke;
        color: black;
        padding: 1rem;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 6;
    }

    .project4 {
        background-color: whitesmoke;
        color: black;
        padding: 1rem;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 11;
    }

    .project5 {
        background-color: whitesmoke;
        color: black;
        padding: 1rem;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 12;
    }

    .project6 {
        background-color: whitesmoke;
        color: black;
        padding: 1rem;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 11;
    }

    .thumbnail_layout {
        display: grid;
        grid-template-rows: repeat(12, 1fr);
        background-color: whitesmoke;
        margin-left: 0;
        margin-right: 0;
        height: 95%;
    }

    .thumbnail_layout img {
        width: 100%;
        height: auto;
        grid-row-start: 1;
        grid-row-end: 10;
    }

    .thumbnail_header_text {
        grid-row-start: 10;
        grid-row-end: 11;
    }

    .thumbnail_header_text h2 {
        font-size: 2rem;

    }

    .thumbnail_common_text {
        grid-row-start: 11;
        grid-row-end: 13;
    }

    .thumbnail_common_text h1 {
        font-size: 1.3rem;
        grid-row-start: 11;
        grid-row-end: 13;
    }

    .box4_position {
        display: flex;
        flex-direction: row;
        margin-top: 10vw;
        margin-left: 5vw;
    }

    .box4_position h1 {
        padding-top: 1vw;
    }

    .section_whoweare {
        height: 53.3vw;
        width: 100vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom left;
    }

    .section_whyus {
        height: 44.33vw;
        width: 100vw;
        background-size: 100% 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom left;
    }

    .header_text h2 {
        letter-spacing: 0.07vw;
        word-spacing: 10px;
        font-size: 5.2vw;
        font-weight: 1;
        line-height: 130%;
    }

    .common_text h1 {
        margin-top: 3%;
        font-size: 1.5vw;
        font-weight: 500;
        line-height: 130%;
    }

    .section_projects {
        height: 139.44vw;
        width: 100vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom left;
    }

    .section_contacts {
        height: 31.978vw;
        width: 100vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom left;
    }

    .mail {
        display: block;
    }

    .contact {
        display: none;
    }
}



/*end of pc*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/